{% extends 'examAPI/layout.html' %} {% block body %}
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h1 style="text-align: center;">{{exam.course}} course exam</h1>
		<h5 style="text-align: center;">Generated exam accuracy: {{exam.accuracy}}%</h1>
		<h1>Questions</h1>
		<ul class="list-group">
			{% for question in exam.questions.all %}
			<li class="list-group-item">
				{{forloop.counter}}- {{question.content}}
				<br />
				Answers
				<ul class="list-group">
					<li class="list-group-item text-danger">{{question.wrongAnswer1}}</li>
					<li class="list-group-item text-danger">{{question.wrongAnswer2}}</li>
					<li class="list-group-item text-success">{{question.rightAnswer}}</li>
				</ul>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-md-2"></div>
	{% endblock body %}
</div>
